.idea/shelf
.idea/workspace.xml
availables.xml
/idea_home/build.txt
/build
mps-core/lib
mps-core/resources/messages
mps-core/languages
mps-java/lib
mps-java/META-INF/platform
mps-java/META-INF/JavaPlatform.xml
mps-java/META-INF/JavaPlatformActions.xml
mps-vcs/lib
mps-vcs/languages
mps-vcs/META-INF/MPSVcs.xml
mps-vcs/META-INF/MPSVcsGit.xml
mps-migration/lib
mps-migration/META-INF
sandbox
tests/blProject/.idea/workspace.xml
tests/psiProject/.idea/workspace.xml
tests/multiModulesProject/.idea/workspace.xml
mps-testing/META-INF
mps-testing/lib
mps-testing/languages
mps.editor.tests/languages
mps.editor.tests/META-INF